@using Manero.Models.Entities;
@inject ProductDetailsService productService
@inject ReviewService reviewService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Manero.Models.Entities.ProductDetailsEntity

@foreach (var review in await reviewService.GetReviewsByProductIdAsync(@Model.ProductId))
{
    @review.Rating
    ;
    @review.Text
    ;
    @review.CreatedAt
    ;

}
<div class="make-review">
    <a asp-controller="Review" asp-action="Index" asp-route-productId="@Model.ProductId">Add Review</a>
</div>